{
  "info": {
    "title": "Vantage",
    "description": "Vantage API",
    "termsOfService": "https://www.vantage.sh/terms-of-use",
    "contact": {
      "name": "Vantage Support",
      "email": "support@vantage.sh",
      "url": "https://www.vantage.sh"
    },
    "version": "2.0.0"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "scopes": {
        "read": "Grants read access",
        "write": "Grants write access"
      },
      "tokenUrl": "https://console.vantage.sh/account/profile"
    }
  },
  "security": [
    {
      "oauth2": [
        "read"
      ]
    }
  ],
  "host": "api.vantage.sh",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "AccessGrants",
      "description": "Operations about AccessGrants"
    },
    {
      "name": "AnomalyAlerts",
      "description": "Operations about AnomalyAlerts"
    },
    {
      "name": "AnomalyNotifications",
      "description": "Operations about AnomalyNotifications"
    },
    {
      "name": "AuditLogs",
      "description": "Operations about AuditLogs"
    },
    {
      "name": "BillingProfiles",
      "description": "Operations about BillingProfiles"
    },
    {
      "name": "BillingRules",
      "description": "Operations about BillingRules"
    },
    {
      "name": "BudgetAlerts",
      "description": "Operations about BudgetAlerts"
    },
    {
      "name": "Budgets",
      "description": "Operations about Budgets"
    },
    {
      "name": "BusinessMetrics",
      "description": "Operations about BusinessMetrics"
    },
    {
      "name": "CostAlertEvents",
      "description": "Operations about CostAlertEvents"
    },
    {
      "name": "CostAlerts",
      "description": "Operations about CostAlerts"
    },
    {
      "name": "CostProviderAccounts",
      "description": "Operations about CostProviderAccounts"
    },
    {
      "name": "Costs",
      "description": "Operations about Costs"
    },
    {
      "name": "Dashboards",
      "description": "Operations about Dashboards"
    },
    {
      "name": "DataExports",
      "description": "Operations about DataExports"
    },
    {
      "name": "ExchangeRates",
      "description": "Operations about ExchangeRates"
    },
    {
      "name": "FinancialCommitmentReports",
      "description": "Operations about FinancialCommitmentReports"
    },
    {
      "name": "FinancialCommitments",
      "description": "Operations about FinancialCommitments"
    },
    {
      "name": "Folders",
      "description": "Operations about Folders"
    },
    {
      "name": "Integrations",
      "description": "Operations about Integrations"
    },
    {
      "name": "Invoices",
      "description": "Operations about Invoices"
    },
    {
      "name": "KubernetesEfficiencyReports",
      "description": "Operations about KubernetesEfficiencyReports"
    },
    {
      "name": "ManagedAccounts",
      "description": "Operations about ManagedAccounts"
    },
    {
      "name": "Me",
      "description": "Operations about Mes"
    },
    {
      "name": "CostProvider",
      "description": "Operations about CostProviders"
    },
    {
      "name": "CostService",
      "description": "Operations about CostServices"
    },
    {
      "name": "UserFeedback",
      "description": "Operations about UserFeedbacks"
    },
    {
      "name": "NetworkFlowReports",
      "description": "Operations about NetworkFlowReports"
    },
    {
      "name": "Prices",
      "description": "Operations about Prices"
    },
    {
      "name": "Recommendations",
      "description": "Operations about Recommendations"
    },
    {
      "name": "ReportNotifications",
      "description": "Operations about ReportNotifications"
    },
    {
      "name": "ResourceReports",
      "description": "Operations about ResourceReports"
    },
    {
      "name": "Resources",
      "description": "Operations about Resources"
    },
    {
      "name": "SavedFilters",
      "description": "Operations about SavedFilters"
    },
    {
      "name": "Segments",
      "description": "Operations about Segments"
    },
    {
      "name": "Tags",
      "description": "Operations about Tags"
    },
    {
      "name": "Teams",
      "description": "Operations about Teams"
    },
    {
      "name": "UnitCosts",
      "description": "Operations about UnitCosts"
    },
    {
      "name": "Users",
      "description": "Operations about Users"
    },
    {
      "name": "VirtualTags",
      "description": "Operations about VirtualTags"
    },
    {
      "name": "Workspaces",
      "description": "Operations about Workspaces"
    },
    {
      "name": "Ping",
      "description": "Operations about Pings"
    },
    {
      "name": "OpenAPISpecification",
      "description": "Operations about OpenAPISpecifications"
    }
  ],
  "paths": {
    "/access_grants": {
      "post": {
        "summary": "Create access grant",
        "description": "Create an Access Grant.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createAccessGrant",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAccessGrant"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            },
            "examples": {
              "application/json": {
                "token": "rsrc_accss_grnt_9f8aeb3cedda3831",
                "resource_token": "rprt_3b935d26cba36fb0",
                "access": "denied",
                "team_token": "team_26865e16e46028ae",
                "created_at": "2024-01-18T17:39:37Z",
                "created_by": "usr_2fc38883da3726b9"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "406": {
            "description": "NotAcceptable",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "createAccessGrant"
      },
      "get": {
        "summary": "Get all access grants",
        "description": "Return all Access Grants that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrants"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/access_grants",
                  "first": "https://api.vantage.sh/v2/access_grants?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/access_grants?page=1",
                  "prev": null
                },
                "access_grants": [
                  {
                    "token": "rsrc_accss_grnt_c40f15062b6d5c37",
                    "resource_token": "rprt_5a269d316483b01c",
                    "access": "denied",
                    "team_token": "team_fd5c524ba104712b",
                    "created_at": "2024-01-18T17:39:37Z",
                    "created_by": "usr_eb8ce6bdc1fa31d5"
                  },
                  {
                    "token": "rsrc_accss_grnt_9723e984e93d8907",
                    "resource_token": "dshbrd_a08561ec24875ac9",
                    "access": "allowed",
                    "team_token": "team_fd5c524ba104712b",
                    "created_at": "2024-01-18T17:39:37Z",
                    "created_by": "usr_eb8ce6bdc1fa31d5"
                  },
                  {
                    "token": "rsrc_accss_grnt_eee5c4fd777d4dc8",
                    "resource_token": "fldr_9d4ad1a769131c58",
                    "access": "allowed",
                    "team_token": "team_fd5c524ba104712b",
                    "created_at": "2024-01-18T17:39:38Z",
                    "created_by": "usr_eb8ce6bdc1fa31d5"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "getAccessGrants"
      }
    },
    "/access_grants/{access_grant_token}": {
      "delete": {
        "summary": "Delete access grant",
        "description": "Delete an Access Grant.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "access_grant_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "deleteAccessGrant"
      },
      "put": {
        "summary": "Update access grant",
        "description": "Update an AccessGrant.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "access_grant_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateAccessGrant",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateAccessGrant"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            },
            "examples": {
              "application/json": {
                "token": "rsrc_accss_grnt_eea11f0d35318b0d",
                "resource_token": "rprt_e84d7760ab2dd7dc",
                "access": "allowed",
                "team_token": "team_25fc4aa890869602",
                "created_at": "2024-01-18T17:39:36Z",
                "created_by": "usr_57ed2fa2a7b30166"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "updateAccessGrant"
      },
      "get": {
        "summary": "Get access grant by token",
        "description": "Return a specific Access Grant.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "access_grant_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            },
            "examples": {
              "application/json": {
                "token": "rsrc_accss_grnt_07ed83a5069b91c4",
                "resource_token": "rprt_b8df14aa8a4ad5c7",
                "access": "denied",
                "team_token": "team_14bd13a8bccb8406",
                "created_at": "2024-01-18T17:39:36Z",
                "created_by": "usr_0e1cb254743b26cb"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "getAccessGrant"
      }
    },
    "/anomaly_alerts": {
      "get": {
        "summary": "Get all anomaly alerts",
        "description": "Return all Anomaly Alerts that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "The start date of the anomalies to return. ISO 8601 formatted.",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "The end date of the anomalies to return. ISO 8601 formatted.",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "query",
            "name": "provider",
            "description": "The provider of the anomalies to return.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "service",
            "description": "The service of the anomalies to return.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "cost_category",
            "description": "The cost category of the anomalies to return.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "cost_report_token",
            "description": "The cost report token of the anomalies to return.",
            "type": "string",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyAlerts"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/anomaly_alerts",
                  "first": "https://api.vantage.sh/v2/anomaly_alerts?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/anomaly_alerts?page=1",
                  "prev": null
                },
                "anomaly_alerts": [
                  {
                    "token": "anmly_alrt_e1fb8184ecdf129d",
                    "created_at": "2024-04-01T17:14:45Z",
                    "alerted_at": "2024-04-01T17:14:45Z",
                    "category": "Compute",
                    "service": "AmazonEKS",
                    "provider": "aws",
                    "amount": "100.0",
                    "previous_amount": "25.0",
                    "seven_day_average": "10.0",
                    "status": "active",
                    "feedback": null,
                    "resources": [
                      "production-cluster"
                    ],
                    "cost_report_token": "rprt_3d541a4c5160711f"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "AnomalyAlerts"
        ],
        "operationId": "getAnomalyAlerts"
      }
    },
    "/anomaly_alerts/{anomaly_alert_token}": {
      "put": {
        "summary": "Update anomaly alert",
        "description": "Update an AnomalyAlert.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "anomaly_alert_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateAnomalyAlert",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateAnomalyAlert"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyAlert"
            },
            "examples": {
              "application/json": {
                "token": "anmly_alrt_51a2ce4137305fc6",
                "created_at": "2024-04-01T17:14:46Z",
                "alerted_at": "2024-04-01T17:14:46Z",
                "category": "Compute",
                "service": "AmazonEKS",
                "provider": "aws",
                "amount": "100.0",
                "previous_amount": "25.0",
                "seven_day_average": "10.0",
                "status": "archived",
                "feedback": "this stinks",
                "cost_report_token": "rprt_57912c584fdf88f4"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AnomalyAlerts"
        ],
        "operationId": "updateAnomalyAlert"
      },
      "get": {
        "summary": "Get anomaly alert by token",
        "description": "Return an AnomalyAlert that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "anomaly_alert_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyAlert"
            },
            "examples": {
              "application/json": {
                "token": "anmly_alrt_6056b98225236ece",
                "created_at": "2024-04-01T17:14:45Z",
                "alerted_at": "2024-04-01T17:14:45Z",
                "category": "Compute",
                "service": "AmazonEKS",
                "provider": "aws",
                "amount": "100.0",
                "previous_amount": "25.0",
                "seven_day_average": "10.0",
                "status": "active",
                "feedback": null,
                "cost_report_token": "rprt_bf0a30084fbf52c2"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AnomalyAlerts"
        ],
        "operationId": "getAnomalyAlert"
      }
    },
    "/anomaly_notifications": {
      "post": {
        "summary": "Create anomaly notification",
        "description": "Create an Anomaly Notification for a Cost Report.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createAnomalyNotification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAnomalyNotification"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyNotification"
            },
            "examples": {
              "application/json": {
                "token": "rprt_alrt_9b22edfa0a175609",
                "cost_report_token": "rprt_4c9e5f72ae27bc24",
                "created_at": "2024-04-09T15:05:37Z",
                "updated_at": "2024-04-09T15:05:37Z",
                "threshold": 1,
                "user_tokens": [
                  "usr_3773d590e84f6f12"
                ],
                "recipient_channels": [
                  "channel1",
                  "channel2"
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AnomalyNotifications"
        ],
        "operationId": "createAnomalyNotification"
      },
      "get": {
        "summary": "Get all anomaly notifications",
        "description": "Return all Anomaly Notifications.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyNotifications"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/anomaly_notifications",
                  "first": "https://api.vantage.sh/v2/anomaly_notifications?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/anomaly_notifications?page=1",
                  "prev": null
                },
                "anomaly_notifications": [
                  {
                    "token": "rprt_alrt_ecb76d8d2825762f",
                    "cost_report_token": "rprt_45fe4d4c1779ce7e",
                    "created_at": "2024-04-09T15:05:37Z",
                    "updated_at": "2024-04-09T15:05:37Z",
                    "threshold": 10,
                    "user_tokens": [
                      "usr_13477ee1b1eb81ba"
                    ],
                    "recipient_channels": []
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "AnomalyNotifications"
        ],
        "operationId": "getAnomalyNotifications"
      }
    },
    "/anomaly_notifications/{anomaly_notification_token}": {
      "delete": {
        "summary": "Delete anomaly notification",
        "description": "Delete an Anomaly Notification.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "anomaly_notification_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyNotification"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AnomalyNotifications"
        ],
        "operationId": "deleteAnomalyNotification"
      },
      "put": {
        "summary": "Update anomaly notification",
        "description": "Update an Anomaly Notification.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "anomaly_notification_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateAnomalyNotification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateAnomalyNotification"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyNotification"
            },
            "examples": {
              "application/json": {
                "token": "rprt_alrt_15da34156dca939d",
                "cost_report_token": "rprt_82320a9c1a608f0f",
                "created_at": "2024-04-09T15:05:37Z",
                "updated_at": "2024-04-09T15:05:37Z",
                "threshold": 2,
                "user_tokens": [
                  "usr_dff5de2b6aecf042"
                ],
                "recipient_channels": [
                  "channel3",
                  "channel4"
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AnomalyNotifications"
        ],
        "operationId": "updateAnomalyNotification"
      },
      "get": {
        "summary": "Get anomaly notification by token",
        "description": "Return an Anomaly Notification that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "anomaly_notification_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AnomalyNotification"
            },
            "examples": {
              "application/json": {
                "token": "rprt_alrt_5af901100951705b",
                "cost_report_token": "rprt_0d88354748562c26",
                "created_at": "2024-04-09T15:05:37Z",
                "updated_at": "2024-04-09T15:05:37Z",
                "threshold": 10,
                "user_tokens": [
                  "usr_e163fcb7aeb41f3b"
                ],
                "recipient_channels": []
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AnomalyNotifications"
        ],
        "operationId": "getAnomalyNotification"
      }
    },
    "/audit_logs": {
      "get": {
        "summary": "Get all audit logs",
        "description": "Return all AuditLogs.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "user",
            "description": "Filter by personal or service API token that performed the action.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "workspace_token",
            "description": "Filter by workspace token.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "action",
            "description": "Filter by action type.",
            "type": "string",
            "enum": [
              "create",
              "update",
              "delete"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "object_name",
            "description": "Filter by object name.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "source",
            "description": "Filter by source.",
            "type": "string",
            "enum": [
              "console",
              "api",
              "finops_agent"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "object_type",
            "description": "Filter by object type.",
            "type": "string",
            "enum": [
              "virtual_tag",
              "cost_report",
              "recommendation_commitment"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "token",
            "description": "Filter by audit log token.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "object_token",
            "description": "Filter by object token (auditable_token).",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Filter by start date (ISO 8601 format, e.g., 2024-06-01).",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Filter by end date (ISO 8601 format, e.g., 2024-06-01).",
            "type": "string",
            "format": "date",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuditLogs"
            },
            "examples": {
              "application/json": {
                "audit_logs": [
                  {
                    "token": "adt_lg_1234567890abcdef",
                    "object_token": "rpt_1234567890abcdef",
                    "object_type": "Report",
                    "object_title": "Production Cost Report",
                    "event": "record_updated",
                    "source": "api",
                    "user": "Example User",
                    "workspace_title": "Production Workspace",
                    "workspace_token": "wrkspc_5df510e54a48a137",
                    "created_at": "2025-07-01T14:30:00Z",
                    "object_changes": {
                      "title": [
                        "Old Production Report",
                        "Production Cost Report"
                      ],
                      "updated_at": [
                        "2025-06-15T10:00:00Z",
                        "2025-07-01T14:30:00Z"
                      ]
                    }
                  },
                  {
                    "token": "adt_lg_0987654321fedcba",
                    "object_token": "rpt_0987654321fedcba",
                    "object_type": "Report",
                    "object_title": "Development Cost Report",
                    "event": "record_created",
                    "source": "console",
                    "user": "Example User",
                    "workspace_title": "Production Workspace",
                    "workspace_token": "wrkspc_5df510e54a48a137",
                    "created_at": "2025-06-25T09:15:00Z",
                    "object_changes": {
                      "key": [
                        null,
                        "api-created-tag-1755150452"
                      ],
                      "token": [
                        null,
                        "vtag_0497e0c2b571a71d"
                      ],
                      "backfill_until": [
                        null,
                        "2025-08-01T00:00:00.000Z"
                      ],
                      "created_by_type": [
                        "User",
                        "Team"
                      ],
                      "referenced_tag_keys_by_provider": [
                        "{}",
                        "{\"aws\":[]}"
                      ],
                      "account": [
                        null,
                        "Test Account"
                      ],
                      "created_by": [
                        null,
                        "Example User"
                      ]
                    }
                  },
                  {
                    "token": "adt_lg_abcdef1234567890",
                    "object_token": "bgt_abcdef1234567890",
                    "object_type": "Budget",
                    "object_title": "Q3 Marketing Budget",
                    "event": "record_destroyed",
                    "source": "api",
                    "user": "Admin User",
                    "workspace_title": "Production Workspace",
                    "workspace_token": "wrkspc_5df510e54a48a137",
                    "created_at": "2025-06-20T16:45:00Z",
                    "object_changes": {
                      "title": [
                        "test_1",
                        "test_1_updated"
                      ]
                    }
                  }
                ],
                "_links": {
                  "self": "/v2/audit_logs?page=1&limit=25",
                  "first": "/v2/audit_logs?page=1&limit=25",
                  "next": "/v2/audit_logs?page=2&limit=25",
                  "last": "/v2/audit_logs?page=10&limit=25",
                  "prev": null
                },
                "_meta": {
                  "total_count": 248,
                  "per_page": 25,
                  "page": 1
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AuditLogs"
        ],
        "operationId": "getAuditLogs"
      }
    },
    "/audit_logs/{audit_log_token}": {
      "get": {
        "summary": "Get audit log by token",
        "description": "Return a specific AuditLog.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "audit_log_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AuditLog"
            },
            "examples": {
              "application/json": {
                "token": "adt_lg_1234567890abcdef",
                "object_token": "rpt_1234567890abcdef",
                "object_type": "Report",
                "object_title": "Production Cost Report",
                "event": "record_updated",
                "source": "api",
                "user": "Example User",
                "workspace_title": "Production Workspace",
                "workspace_token": "wrkspc_5df510e54a48a137",
                "created_at": "2025-07-01T14:30:00Z",
                "object_changes": {
                  "title": [
                    "Old Production Report",
                    "Production Cost Report"
                  ],
                  "updated_at": [
                    "2025-06-15T10:00:00Z",
                    "2025-07-01T14:30:00Z"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AuditLogs"
        ],
        "operationId": "getAuditLog"
      }
    },
    "/billing_profiles": {
      "post": {
        "summary": "Create billing profile",
        "description": "Create a billing profile (MSP invoicing required).",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createBillingProfile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createBillingProfile"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "createBillingProfile"
      },
      "get": {
        "summary": "Get all billing profiles",
        "description": "Returns a list of billing profiles (MSP invoicing required).",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingProfiles"
            }
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "getBillingProfiles"
      }
    },
    "/billing_profiles/{billing_profile_token}": {
      "delete": {
        "summary": "Delete billing profile",
        "description": "Requires MSP invoicing to be enabled on the account.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billing_profile_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Billing Profile deleted successfully.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "deleteBillingProfile"
      },
      "put": {
        "summary": "Update billing profile",
        "description": "Requires MSP invoicing to be enabled on the account.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billing_profile_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateBillingProfile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateBillingProfile"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "updateBillingProfile"
      },
      "get": {
        "summary": "Get billing profile by token",
        "description": "Requires MSP invoicing to be enabled on the account.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billing_profile_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "getBillingProfile"
      }
    },
    "/billing_rules": {
      "post": {
        "summary": "Create billing rule",
        "description": "Create a BillingRule.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createBillingRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createBillingRule"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingRule"
            },
            "examples": {
              "application/json": {
                "token": "bllng_rule_9cc9eab6bb73266b",
                "title": "Credit for Data Transfer",
                "type": "Credit",
                "created_by_token": "usr_ae0b14f6c9108edc",
                "created_at": "2024-07-02T15:26:52Z",
                "service": "Amazon S3",
                "category": "Data Transfer",
                "sub_category": "Outbound",
                "start_period": "2024-05-01",
                "amount": "300.0"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingRules"
        ],
        "operationId": "createBillingRule"
      },
      "get": {
        "summary": "Get all billing rules",
        "description": "Returns a list of billing rules.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingRules"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/billing_rules",
                  "first": "https://api.vantage.sh/v2/billing_rules?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/billing_rules?page=1",
                  "prev": null
                },
                "billing_rules": [
                  {
                    "token": "bllng_rule_ac6852c686e265a1",
                    "title": "Exclude Reserved Instance Fees",
                    "type": "Exclusion",
                    "created_by_token": "usr_018532419bd2e1da",
                    "created_at": "2024-07-02T15:26:51Z",
                    "charge_type": "Reserved Instance Fees"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "BillingRules"
        ],
        "operationId": "getBillingRules"
      }
    },
    "/billing_rules/{billing_rule_token}": {
      "delete": {
        "summary": "Delete billing rule",
        "description": "Delete a BillingRule.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billing_rule_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingRule"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingRules"
        ],
        "operationId": "deleteBillingRule"
      },
      "put": {
        "summary": "Update billing rule",
        "description": "Update a BillingRule.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billing_rule_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateBillingRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateBillingRule"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingRule"
            },
            "examples": {
              "application/json": {
                "token": "bllng_rule_16c2d217f026d23e",
                "title": "Updated Adjustment",
                "type": "Adjustment",
                "created_by_token": "usr_cef510966067477f",
                "created_at": "2024-07-02T15:26:52Z",
                "service": "Amazon S3",
                "category": "Data Transfer",
                "adjusted_rate": "0.85"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingRules"
        ],
        "operationId": "updateBillingRule"
      },
      "get": {
        "summary": "Get billing rule by token",
        "description": "Return a BillingRule.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "billing_rule_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingRule"
            },
            "examples": {
              "application/json": {
                "token": "bllng_rule_a2708f17b2d3fb0e",
                "title": "Exclude Reserved Instance Fees",
                "type": "Exclusion",
                "created_by_token": "usr_d253a52c80171514",
                "created_at": "2024-07-02T15:26:50Z",
                "charge_type": "Reserved Instance Fees"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BillingRules"
        ],
        "operationId": "getBillingRule"
      }
    },
    "/budget_alerts": {
      "post": {
        "summary": "Create budget alert",
        "description": "Create a Budget Alert.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "budget_tokens",
            "description": "The tokens of the Budget that has the alert.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "threshold",
            "description": "The threshold amount that must be met for the alert to fire.",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "user_tokens",
            "description": "The tokens of the users that receive the alert.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "duration_in_days",
            "description": "The number of days from the start or end of the month to trigger the alert if the threshold is reached.  For the full month, pass an empty value.",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "period_to_track",
            "description": "The period tracked on the alert. Used with duration_in_days to determine the time window of the alert. Defaults to start_of_the_month if not passed. Possible values: start_of_the_month, end_of_the_month.",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "recipient_channels",
            "description": "The channels receiving the alerts. Requires an integration provider to be connected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BudgetAlert"
            },
            "examples": {}
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BudgetAlerts"
        ],
        "operationId": "createBudgetAlert"
      },
      "get": {
        "summary": "Get all budget alerts",
        "description": "Return all BudgetAlerts.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BudgetAlerts"
            },
            "examples": {}
          }
        },
        "tags": [
          "BudgetAlerts"
        ],
        "operationId": "getBudgetAlerts"
      }
    },
    "/budget_alerts/{budget_alert_token}": {
      "delete": {
        "summary": "Delete budget alert",
        "description": "Delete a BudgetAlert.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "budget_alert_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BudgetAlert"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BudgetAlerts"
        ],
        "operationId": "deleteBudgetAlert"
      },
      "put": {
        "summary": "Update budget alert",
        "description": "Updates an existing BudgetAlert.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "budget_tokens",
            "description": "The tokens of the Budget that has the alert.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "threshold",
            "description": "The threshold amount that must be met for the alert to fire.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "user_tokens",
            "description": "The tokens of the users that receive the alert.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "formData",
            "name": "duration_in_days",
            "description": "The number of days from the start or end of the month to trigger the alert if the threshold is reached. For the full month, pass an empty value.",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "period_to_track",
            "description": "The period tracked on the alert. Used with duration_in_days to determine the time window of the alert. Defaults to start_of_the_month if not passed. Possible values: start_of_the_month, end_of_the_month.",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "recipient_channels",
            "description": "The channels receiving the alerts. Requires an integration provider to be connected.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "path",
            "name": "budget_alert_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BudgetAlert"
            },
            "examples": {}
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BudgetAlerts"
        ],
        "operationId": "updateBudgetAlert"
      },
      "get": {
        "summary": "Get budget alert by token",
        "description": "Return a BudgetAlert.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "budget_alert_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BudgetAlert"
            },
            "examples": {}
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BudgetAlerts"
        ],
        "operationId": "getBudgetAlert"
      }
    },
    "/budgets": {
      "post": {
        "summary": "Create budget",
        "description": "Create a Budget.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createBudget",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createBudget"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Budget"
            },
            "examples": {
              "application/json": {
                "token": "bdgt_ea1eaec89d553e34",
                "name": "New Budget Name",
                "workspace_token": "wrkspc_b83e21368ee5fd9d",
                "user_token": null,
                "created_by_token": "team_aea2488160e90528",
                "cost_report_token": null,
                "created_at": "2024-07-11T20:22:52Z",
                "budget_alert_tokens": [],
                "periods": [
                  {
                    "start_at": "2024-01-01",
                    "end_at": "2024-01-31",
                    "amount": "100.0"
                  },
                  {
                    "start_at": "2024-02-01",
                    "end_at": "2024-02-29",
                    "amount": "200.0"
                  },
                  {
                    "start_at": "2024-03-01",
                    "end_at": "2024-04-30",
                    "amount": "300.0"
                  }
                ],
                "performance": [
                  {
                    "date": "April, 2024",
                    "actual": "0%",
                    "amount": "300.0"
                  },
                  {
                    "date": "March, 2024",
                    "actual": "0%",
                    "amount": "300.0"
                  },
                  {
                    "date": "February, 2024",
                    "actual": "0%",
                    "amount": "200.0"
                  },
                  {
                    "date": "January, 2024",
                    "actual": "0%",
                    "amount": "100.0"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "operationId": "createBudget"
      },
      "get": {
        "summary": "Get all budgets",
        "description": "Return all Budgets.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Budgets"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/budgets",
                  "first": "https://api.vantage.sh/v2/budgets?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/budgets?page=1",
                  "prev": null
                },
                "budgets": [
                  {
                    "token": "bdgt_0d825e79a0682cc2",
                    "name": "database",
                    "workspace_token": "wrkspc_226ab053bd01bb2b",
                    "user_token": "usr_8e44c17792242852",
                    "created_by_token": "usr_8e44c17792242852",
                    "cost_report_token": "rprt_92062240b4ffda91",
                    "created_at": "2024-07-11T20:22:49Z",
                    "budget_alert_tokens": [],
                    "periods": [
                      {
                        "start_at": "2024-07-01",
                        "end_at": "2024-09-30",
                        "amount": "10000.0"
                      }
                    ],
                    "performance": [
                      {
                        "date": "July, 2024",
                        "actual": "-100%",
                        "amount": "10000.0"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "operationId": "getBudgets"
      }
    },
    "/budgets/{budget_token}": {
      "delete": {
        "summary": "Delete budget",
        "description": "Delete a Budget.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "budget_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "operationId": "deleteBudget"
      },
      "put": {
        "summary": "Update budget",
        "description": "Update a Budget.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "budget_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateBudget",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateBudget"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Budget"
            },
            "examples": {
              "application/json": {
                "token": "bdgt_39ce7f848dff6d54",
                "name": "New Name New Budget Who Dis",
                "workspace_token": "wrkspc_949771e4fb8d7bfe",
                "user_token": "usr_9b375256090d0fda",
                "created_by_token": "usr_9b375256090d0fda",
                "cost_report_token": "rprt_07325bc3667263b7",
                "created_at": "2024-07-11T20:22:48Z",
                "budget_alert_tokens": [],
                "periods": [
                  {
                    "start_at": "2023-01-01",
                    "end_at": "2023-01-31",
                    "amount": "234.0"
                  },
                  {
                    "start_at": "2024-01-01",
                    "end_at": "2024-01-31",
                    "amount": "123.0"
                  },
                  {
                    "start_at": "2024-07-01",
                    "end_at": "2024-09-30",
                    "amount": "10000.0"
                  }
                ],
                "performance": [
                  {
                    "date": "July, 2024",
                    "actual": "-100%",
                    "amount": "10000.0"
                  },
                  null,
                  null,
                  null,
                  null,
                  null,
                  {
                    "date": "January, 2024",
                    "actual": "-100%",
                    "amount": "123.0"
                  },
                  null,
                  null,
                  null,
                  null,
                  null,
                  null,
                  null,
                  null,
                  null,
                  null,
                  null,
                  {
                    "date": "January, 2023",
                    "actual": "1224%",
                    "amount": "234.0"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "operationId": "updateBudget"
      },
      "get": {
        "summary": "Get budget by token",
        "description": "Return a Budget.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include_performance",
            "description": "Include performance data.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "path",
            "name": "budget_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Budget"
            },
            "examples": {
              "application/json": {
                "token": "bdgt_24068dbacaaad7fb",
                "name": "Total",
                "workspace_token": "wrkspc_545a937d68541448",
                "user_token": "usr_470d15b368844366",
                "created_by_token": "usr_470d15b368844366",
                "cost_report_token": "rprt_9ee9f29893956951",
                "created_at": "2024-07-11T20:22:41Z",
                "budget_alert_tokens": [],
                "periods": [
                  {
                    "start_at": "2024-07-01",
                    "end_at": "2024-09-30",
                    "amount": "10000.0"
                  }
                ],
                "performance": [
                  {
                    "date": "July, 2024",
                    "actual": "-100%",
                    "amount": "10000.0"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "operationId": "getBudget"
      }
    },
    "/business_metrics": {
      "post": {
        "summary": "Create business metric",
        "description": "Create a new BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createBusinessMetric",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createBusinessMetric"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_e8d0a6f35c9f4e8c",
                "title": "New Biz Metric",
                "created_by_token": "usr_464e70f8e230fa62",
                "cost_report_tokens_with_metadata": [
                  {
                    "cost_report_token": "rprt_67a1e1ac3bb7cefd",
                    "unit_scale": "per_thousand",
                    "label_filter": [
                      "Dev",
                      "Prod",
                      "Staging",
                      ""
                    ]
                  }
                ],
                "import_type": "csv",
                "integration_token": ""
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "createBusinessMetric"
      },
      "get": {
        "summary": "Get all business metrics",
        "description": "Return all BusinessMetrics that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetrics"
            },
            "examples": {
              "application/json": {
                "business_metrics": [
                  {
                    "token": "bsnss_mtrc_124dc3483510ac35",
                    "title": "Business Metric",
                    "created_by_token": "usr_80447a58ff9821dd",
                    "cost_report_tokens_with_metadata": [],
                    "import_type": "csv",
                    "integration_token": ""
                  },
                  {
                    "token": "bsnss_mtrc_2534c89d90b714f7",
                    "title": "AWS Metric",
                    "created_by_token": "usr_752202a1bb7c9a70",
                    "cost_report_tokens_with_metadata": [],
                    "import_type": "cloudwatch",
                    "integration_token": "accss_crdntl_742fd1207f8b6816",
                    "cloudwatch_fields": {
                      "stat": "Maximum",
                      "region": "us-east-1",
                      "namespace": "AWS/EC2",
                      "metric_name": "CPUUtilization",
                      "dimensions": [
                        {
                          "name": "InstanceId",
                          "value": "i-06105d0faad66r97"
                        }
                      ],
                      "label_dimension": null
                    }
                  },
                  {
                    "token": "bsnss_mtrc_c11f0f8dea953e92",
                    "title": "Datadog Metric",
                    "created_by_token": "usr_604fcaa892a23fe9",
                    "cost_report_tokens_with_metadata": [],
                    "import_type": "datadog_metrics",
                    "integration_token": "accss_crdntl_e0e11192748e69bb",
                    "datadog_metric_fields": {
                      "query": "avg:system.cpu.user{*}.rollup(avg, daily)"
                    }
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "getBusinessMetrics"
      }
    },
    "/business_metrics/{business_metric_token}": {
      "delete": {
        "summary": "Delete business metric",
        "description": "Deletes an existing BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "deleteBusinessMetric"
      },
      "put": {
        "summary": "Update business metric",
        "description": "Updates an existing BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateBusinessMetric",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateBusinessMetric"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_e3d9bf77f276d23b",
                "title": "New Title",
                "created_by_token": "usr_1e4b6318373f5c98",
                "cost_report_tokens_with_metadata": [
                  {
                    "cost_report_token": "rprt_54aa7c0519d3f1e2",
                    "unit_scale": "per_thousand",
                    "label_filter": [
                      "Dev",
                      "Prod",
                      "Staging",
                      ""
                    ]
                  },
                  {
                    "cost_report_token": "rprt_201403b36022766a",
                    "unit_scale": "per_million"
                  }
                ],
                "import_type": "csv",
                "integration_token": ""
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "updateBusinessMetric"
      },
      "get": {
        "summary": "Get business metric by token",
        "description": "Return a BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_6d8f14830f9870ac",
                "title": "Quo Lux",
                "created_by_token": "usr_622d8870faf147bb",
                "cost_report_tokens_with_metadata": [],
                "import_type": "csv",
                "integration_token": ""
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "getBusinessMetric"
      }
    },
    "/business_metrics/{business_metric_token}/values.csv": {
      "put": {
        "summary": "Update business metric values from CSV",
        "description": "Updates the values for an existing BusinessMetric from a CSV file.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "csv",
            "description": "CSV file containing BusinessMetric dates and amounts",
            "type": "file",
            "required": true
          },
          {
            "in": "formData",
            "name": "forecasted",
            "description": "When true, imports values as forecasted metrics instead of historical metrics.",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_6bb1021d8651923a",
                "title": "Overhold",
                "created_by_token": "usr_ad24de73bffb7791",
                "cost_report_tokens_with_metadata": [],
                "import_type": "csv",
                "integration_token": ""
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "updateBusinessMetricValuesCSV"
      }
    },
    "/business_metrics/{business_metric_token}/forecasted_values": {
      "get": {
        "summary": "Get business metric forecasted values",
        "description": "Return forecasted values of a BusinessMetric",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Query BusinessMetrics by the first date you would like to filter from. ISO 8601 Formatted - 2021-07-15",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetricValues"
            },
            "examples": {
              "application/json": {
                "values": [
                  {
                    "date": "2025-01-03T00:00:00Z",
                    "amount": "300.0"
                  },
                  {
                    "date": "2025-01-02T00:00:00Z",
                    "amount": "200.0"
                  },
                  {
                    "date": "2025-01-01T00:00:00Z",
                    "amount": "100.0"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "getBusinessMetricForecastedValues"
      }
    },
    "/business_metrics/{business_metric_token}/values": {
      "get": {
        "summary": "Get business metric values",
        "description": "Return values of a BusinessMetric",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Query BusinessMetrics by the first date you would like to filter from. ISO 8601 Formatted - 2021-07-15",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetricValues"
            },
            "examples": {
              "application/json": {
                "values": [
                  {
                    "date": "2024-01-03T00:00:00Z",
                    "amount": "300.0"
                  },
                  {
                    "date": "2024-01-02T00:00:00Z",
                    "amount": "200.0"
                  },
                  {
                    "date": "2024-01-01T00:00:00Z",
                    "amount": "100.0"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "getBusinessMetricValues"
      }
    },
    "/cost_alerts/{cost_alert_token}/events": {
      "get": {
        "summary": "Get all cost alert events",
        "description": "Get all CostAlertEvents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cost_alert_token",
            "description": "The token of the CostAlertEvent.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "report_token",
            "description": "The token of the report associated with the CostAlertEvent.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostAlertEvents"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events",
                  "first": "https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events?page=1",
                  "prev": null
                },
                "cost_alert_events": [
                  {
                    "token": "cstm_alrt_evnt_87124a0f2989837b",
                    "created_at": "2025-04-08T17:39:30Z",
                    "triggered_at": "2025-04-10T17:39:30Z",
                    "description": "Day over day costs for aws and storage increased by $500.0.",
                    "alert_type": "change_in_cost",
                    "metadata": {
                      "change_in_cost": "500.0",
                      "groupings": [
                        "aws",
                        "storage"
                      ]
                    },
                    "report_token": "rprt_e9f27fc1c3b68204",
                    "alert_token": "cstm_alrt_rl_71cacf1cf755fe36"
                  },
                  {
                    "token": "cstm_alrt_evnt_5c67b34433ea6e97",
                    "created_at": "2025-04-09T17:39:30Z",
                    "triggered_at": "2025-04-10T17:39:30Z",
                    "description": "Day over day costs for aws and storage increased by $500.0.",
                    "alert_type": "change_in_cost",
                    "metadata": {
                      "change_in_cost": "500.0",
                      "groupings": [
                        "aws",
                        "storage"
                      ]
                    },
                    "report_token": "rprt_1bdc694530d0b3d6",
                    "alert_token": "cstm_alrt_rl_71cacf1cf755fe36"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "CostAlertEvents"
        ],
        "operationId": "getCostAlertEvents"
      }
    },
    "/cost_alerts/{cost_alert_token}/events/{event_token}": {
      "get": {
        "summary": "Get cost alert event by token",
        "description": "Get a CostAlertEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cost_alert_token",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "event_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostAlertEvent"
            },
            "examples": {
              "application/json": {
                "token": "cstm_alrt_evnt_bdc4f45f9a5f20f1",
                "created_at": "2025-04-08T17:39:29Z",
                "triggered_at": "2025-04-10T17:39:29Z",
                "description": "Day over day costs for aws and storage increased by $500.0.",
                "alert_type": "change_in_cost",
                "metadata": {
                  "change_in_cost": "500.0",
                  "groupings": [
                    "aws",
                    "storage"
                  ]
                },
                "report_token": "rprt_9585e8071c2756d4",
                "alert_token": "cstm_alrt_rl_42159424c0cf6fcb"
              }
            }
          }
        },
        "tags": [
          "CostAlertEvents"
        ],
        "operationId": "getCostAlertEvent"
      }
    },
    "/cost_alerts": {
      "post": {
        "summary": "Create cost alert",
        "description": "Create a new Cost Alert",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createCostAlert",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createCostAlert"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Cost Alert created successfully.",
            "schema": {
              "$ref": "#/definitions/CostAlert"
            },
            "examples": {
              "application/json": {
                "token": "cstm_alrt_rl_76efd4cd0f56149a",
                "title": "New Alert",
                "email_recipients": [
                  "burl_mosciski@hayes.info"
                ],
                "slack_channels": [],
                "teams_channels": [],
                "created_at": "2025-04-21T15:19:49.891Z",
                "updated_at": "2025-04-21T15:19:49.891Z",
                "workspace_token": "wrkspc_a5e36f631519f7d3",
                "interval": "month",
                "threshold": 100.0,
                "unit_type": "currency",
                "report_tokens": [
                  "rprt_ccf0092d336de56c"
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "CostAlerts"
        ],
        "operationId": "createCostAlert"
      },
      "get": {
        "summary": "Get all cost alerts",
        "description": "List all Cost Alerts",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List all Cost Alerts",
            "schema": {
              "$ref": "#/definitions/CostAlerts"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v2/cost_alerts",
                  "first": "https://api.vantage.sh/v2/cost_alerts?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v2/cost_alerts?page=1",
                  "prev": null
                },
                "cost_alerts": [
                  {
                    "token": "cstm_alrt_rl_945f63c6c91cd824",
                    "title": "Default Alert Rule",
                    "email_recipients": [],
                    "slack_channels": [],
                    "teams_channels": [],
                    "created_at": "2024-04-21T15:19:49.673Z",
                    "updated_at": "2025-04-21T15:19:49.673Z",
                    "workspace_token": "wrkspc_7d5a18b7d02942da",
                    "interval": "day",
                    "threshold": 1000.0,
[...]
