{
  "info": {
    "title": "Vantage",
    "description": "Vantage API",
    "termsOfService": "https://www.vantage.sh/terms-of-use",
    "contact": {
      "name": "Vantage Support",
      "email": "support@vantage.sh",
      "url": "https://www.vantage.sh"
    },
    "version": "2.0.0"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "scopes": {
        "read": "Grants read access",
        "write": "Grants write access"
      },
      "tokenUrl": "https://console.vantage.sh/account/profile"
    }
  },
  "security": [
    {
      "oauth2": [
        "read"
      ]
    }
  ],
  "host": "api.vantage.sh",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Operations about Workspaces"
    },
    {
      "name": "Folders",
      "description": "Operations about Folders"
    },
    {
      "name": "SavedFilters",
      "description": "Operations about SavedFilters"
    },
    {
      "name": "Costs",
      "description": "Operations about Costs"
    },
    {
      "name": "Segments",
      "description": "Operations about Segments"
    },
    {
      "name": "Dashboards",
      "description": "Operations about Dashboards"
    },
    {
      "name": "Teams",
      "description": "Operations about Teams"
    },
    {
      "name": "AccessGrants",
      "description": "Operations about AccessGrants"
    },
    {
      "name": "ReportNotifications",
      "description": "Operations about ReportNotifications"
    },
    {
      "name": "Users",
      "description": "Operations about Users"
    },
    {
      "name": "BusinessMetrics",
      "description": "Operations about BusinessMetrics"
    },
    {
      "name": "Prices",
      "description": "Operations about Prices"
    },
    {
      "name": "ResourceReports",
      "description": "Operations about ResourceReports"
    },
    {
      "name": "FinancialCommitmentReports",
      "description": "Operations about FinancialCommitmentReports"
    },
    {
      "name": "FinancialCommitments",
      "description": "Operations about FinancialCommitments"
    },
    {
      "name": "KubernetesEfficiencyReports",
      "description": "Operations about KubernetesEfficiencyReports"
    },
    {
      "name": "AnomalyAlerts",
      "description": "Operations about AnomalyAlerts"
    },
    {
      "name": "VirtualTags",
      "description": "Operations about VirtualTags"
    },
    {
      "name": "AnomalyNotifications",
      "description": "Operations about AnomalyNotifications"
    },
    {
      "name": "Budgets",
      "description": "Operations about Budgets"
    },
    {
      "name": "BudgetAlerts",
      "description": "Operations about BudgetAlerts"
    },
    {
      "name": "Integrations",
      "description": "Operations about Integrations"
    },
    {
      "name": "Recommendations",
      "description": "Operations about Recommendations"
    },
    {
      "name": "ManagedAccounts",
      "description": "Operations about ManagedAccounts"
    },
    {
      "name": "BillingRules",
      "description": "Operations about BillingRules"
    },
    {
      "name": "Ping",
      "description": "Operations about Pings"
    }
  ],
  "paths": {
    "/workspaces": {
      "post": {
        "description": "Create a workspace",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "Name of the workspace.",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "examples": {
              "application/json": {
                "token": "wrkspc_a8b2c1867c84febc",
                "name": "Ellingson Mineral Corporation",
                "created_at": "2024-05-17T21:24:55Z"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "operationId": "createWorkspace"
      },
      "get": {
        "description": "Return all Workspaces that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Workspaces"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/workspaces",
                  "first": "https://api.vantage.com/v2/workspaces?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/workspaces?page=1",
                  "prev": null
                },
                "workspaces": [
                  {
                    "token": "wrkspc_ee55a4a36ada7d80",
                    "name": "Johns-Anderson 2039e721",
                    "created_at": "2024-05-17T21:24:56Z"
                  },
                  {
                    "token": "wrkspc_d191b2396bda86a4",
                    "name": "Wisozk, Marquardt and Kulas d7ed4ecc",
                    "created_at": "2024-05-17T21:24:56Z"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "operationId": "getWorkspaces"
      }
    },
    "/workspaces/{workspace_token}": {
      "delete": {
        "description": "Delete a Workspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspace_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "operationId": "deleteWorkspace"
      },
      "get": {
        "description": "Return a specific Workspace.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspace_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "examples": {
              "application/json": {
                "token": "wrkspc_b6510290cad5b0f9",
                "name": "Zulauf, Hauck and O'Keefe ca58ebd3",
                "created_at": "2024-05-17T21:24:57Z"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "operationId": "getWorkspace"
      }
    },
    "/folders": {
      "post": {
        "description": "Create a Folder for CostReports.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createFolder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createFolder"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Folder"
            },
            "examples": {
              "application/json": {
                "token": "fldr_4aabe6f482c2a9e4",
                "title": "New Folder",
                "parent_folder_token": "fldr_4d29cbecf2601266",
                "created_at": "2023-09-12T05:06:52Z",
                "updated_at": "2023-09-12T05:06:52Z",
                "workspace_token": "wrkspc_510cc77828001f9b"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Folders"
        ],
        "operationId": "createFolder"
      },
      "get": {
        "description": "Return all Folders for CostReports.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Folders"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/folders",
                  "first": "https://api.vantage.com/v2/folders?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/folders?page=1",
                  "prev": null
                },
                "folders": [
                  {
                    "token": "fldr_baf37f32280f5444",
                    "title": "synergy",
                    "parent_folder_token": null,
                    "created_at": "2023-09-12T05:06:54Z",
                    "updated_at": "2023-09-12T05:06:54Z",
                    "workspace_token": "wrkspc_f583a08beb76f679"
                  },
                  {
                    "token": "fldr_625d4591e46f7dfa",
                    "title": "website",
                    "parent_folder_token": "fldr_baf37f32280f5444",
                    "created_at": "2023-09-12T05:06:54Z",
                    "updated_at": "2023-09-12T05:06:54Z",
                    "workspace_token": "wrkspc_f583a08beb76f679"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Folders"
        ],
        "operationId": "getFolders"
      }
    },
    "/folders/{folder_token}": {
      "delete": {
        "description": "Delete a Folder for CostReports.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folder_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Folder"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Folders"
        ],
        "operationId": "deleteFolder"
      },
      "put": {
        "description": "Update a Folder for CostReports.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folder_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateFolder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateFolder"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Folder"
            },
            "examples": {
              "application/json": {
                "token": "fldr_68e18d8d7df0be96",
                "title": "New Title",
                "parent_folder_token": "fldr_9aa0c735a6b615c6",
                "created_at": "2023-09-12T05:06:53Z",
                "updated_at": "2023-09-12T05:06:53Z",
                "workspace_token": "wrkspc_e65a48e5d9684439"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Folders"
        ],
        "operationId": "updateFolder"
      },
      "get": {
        "description": "Return a specific Folder for CostReports.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "folder_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Folder"
            },
            "examples": {
              "application/json": {
                "token": "fldr_3653e0f460786b1e",
                "title": "intermediate",
                "parent_folder_token": "fldr_b6bf120a1d3a794b",
                "created_at": "2023-09-12T05:07:36Z",
                "updated_at": "2023-09-12T05:07:36Z",
                "workspace_token": "wrkspc_a707105ff54966c3"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Folders"
        ],
        "operationId": "getFolder"
      }
    },
    "/saved_filters": {
      "post": {
        "description": "Create a SavedFilter for CostReports.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createSavedFilter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSavedFilter"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SavedFilter"
            },
            "examples": {
              "application/json": {
                "token": "svd_fltr_4de629566ddd68c9",
                "title": "New Saved Filter",
                "cost_report_tokens": [],
                "filter": "costs.provider = 'datadog'",
                "created_at": "2024-07-15T16:08:58Z",
                "created_by": "team_e58399e4df1175e9",
                "workspace_token": "wrkspc_e4cacf2493142e5b"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "SavedFilters"
        ],
        "operationId": "createSavedFilter"
      },
      "get": {
        "description": "Return all SavedFilters that can be applied to a CostReport.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SavedFilters"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/saved_filters",
                  "first": "https://api.vantage.com/v2/saved_filters?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/saved_filters?page=1",
                  "prev": null
                },
                "saved_filters": [
                  {
                    "token": "svd_fltr_3dffc0458f7a2487",
                    "title": "Oolong (5)",
                    "cost_report_tokens": [
                      "rprt_3d0ae4648f5fd8f7"
                    ],
                    "filter": "(costs.provider = 'aws' AND costs.account_id = '30')",
                    "created_at": "2024-07-15T16:08:53Z",
                    "created_by": "usr_95fac32734bdceab",
                    "workspace_token": "wrkspc_914dcb0959497507"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "SavedFilters"
        ],
        "operationId": "getSavedFilters"
      }
    },
    "/saved_filters/{saved_filter_token}": {
      "delete": {
        "description": "Delete a SavedFilter for CostReports.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "saved_filter_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SavedFilter"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "SavedFilters"
        ],
        "operationId": "deleteSavedFilter"
      },
      "put": {
        "description": "Update a SavedFilter for CostReports.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "saved_filter_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateSavedFilter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateSavedFilter"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SavedFilter"
            },
            "examples": {
              "application/json": {
                "token": "svd_fltr_eeabf4c7264f94a8",
                "title": "Updated Saved Filter",
                "cost_report_tokens": [],
                "filter": "costs.provider = 'azure'",
                "created_at": "2024-07-15T16:08:55Z",
                "created_by": "usr_240a5fd77d5da076",
                "workspace_token": "wrkspc_0b7ef373f9c5d485"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "SavedFilters"
        ],
        "operationId": "updateSavedFilter"
      },
      "get": {
        "description": "Return a specific SavedFilter.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "saved_filter_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SavedFilter"
            },
            "examples": {
              "application/json": {
                "token": "svd_fltr_be3f24eb1b5aabf6",
                "title": "Green (8)",
                "cost_report_tokens": [
                  "rprt_47023ad2b735f57d"
                ],
                "filter": "(costs.provider = 'aws' AND costs.account_id = '98')",
                "created_at": "2024-07-15T16:08:54Z",
                "created_by": "team_73f6001f98e9012b",
                "workspace_token": "wrkspc_be6568a301b1d06c"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "SavedFilters"
        ],
        "operationId": "getSavedFilter"
      }
    },
    "/cost_reports": {
      "post": {
        "description": "Create a CostReport.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createCostReport",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createCostReport"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostReport"
            },
            "examples": {
              "application/json": {
                "token": "rprt_b3a88ff374c9f78d",
                "title": "New Cost Report",
                "folder_token": "fldr_f546020e4d95e40a",
                "saved_filter_tokens": [
                  "svd_fltr_0c79fb595992296f"
                ],
                "business_metric_tokens_with_metadata": [
                  {
                    "business_metric_token": "bsnss_mtrc_50f6d6fd90f62249",
                    "unit_scale": "per_thousand",
                    "label_filter": [
                      "CBGB",
                      "Roxy",
                      "Studio 54",
                      ""
                    ]
                  }
                ],
                "filter": "costs.provider = 'aws' AND costs.service = 'Amazon Simple Storage Service'",
                "groupings": "provider,service",
                "settings": {
                  "include_credits": false,
                  "include_refunds": false,
                  "include_discounts": true,
                  "include_tax": true,
                  "amortize": true,
                  "unallocated": false
                },
                "created_at": "2024-07-03T00:00:00Z",
                "workspace_token": "wrkspc_20aca0f495dc8dca",
                "previous_period_start_date": null,
                "previous_period_end_date": null,
                "start_date": "2024-07-01",
                "end_date": "2024-07-31",
                "date_interval": "this_month",
                "chart_type": "line"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "createCostReport"
      },
      "get": {
        "description": "Return all CostReports.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostReports"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/cost_reports",
                  "first": "https://api.vantage.com/v2/cost_reports?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/cost_reports?page=1",
                  "prev": null
                },
                "cost_reports": [
                  {
                    "token": "rprt_4931f8863e7390cf",
                    "title": "Untitled",
                    "folder_token": null,
                    "saved_filter_tokens": [
                      "svd_fltr_a7c13fdd9ecd7128"
                    ],
                    "business_metric_tokens_with_metadata": [],
                    "filter": null,
                    "groupings": "provider,service",
                    "settings": {
                      "include_credits": false,
                      "include_refunds": false,
                      "include_discounts": true,
                      "include_tax": true,
                      "amortize": true,
                      "unallocated": false
                    },
                    "created_at": "2024-07-15T20:43:17Z",
                    "workspace_token": "wrkspc_5033d5c5bad03eab",
                    "previous_period_start_date": null,
                    "previous_period_end_date": null,
                    "start_date": "2024-07-01",
                    "end_date": "2024-07-31",
                    "date_interval": "this_month",
                    "chart_type": "line"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "getCostReports"
      }
    },
    "/cost_reports/{cost_report_token}": {
      "delete": {
        "description": "Delete a CostReport.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cost_report_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostReport"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "deleteCostReport"
      },
      "put": {
        "description": "Update a CostReport.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cost_report_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateCostReport",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateCostReport"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostReport"
            },
            "examples": {
              "application/json": {
                "token": "rprt_55317a343f05ae5a",
                "title": "Updated Cost Report",
                "folder_token": "fldr_401d61ae3a806467",
                "saved_filter_tokens": [
                  "svd_fltr_2894086f62d02cb9"
                ],
                "business_metric_tokens_with_metadata": [
                  {
                    "business_metric_token": "bsnss_mtrc_c658fc65a994268c",
                    "unit_scale": "per_thousand",
                    "label_filter": [
                      "CBGB",
                      "Roxy",
                      "Studio 54",
                      ""
                    ]
                  },
                  {
                    "business_metric_token": "bsnss_mtrc_ac063aba7d734d87",
                    "unit_scale": "per_million"
                  }
                ],
                "filter": "costs.provider = 'azure'",
                "groupings": "service,account_id",
                "settings": {
                  "include_credits": false,
                  "include_refunds": false,
                  "include_discounts": true,
                  "include_tax": true,
                  "amortize": true,
                  "unallocated": false
                },
                "created_at": "2024-07-03T00:00:00Z",
                "workspace_token": "wrkspc_400416eb33581497",
                "previous_period_start_date": null,
                "previous_period_end_date": null,
                "start_date": "2024-07-01",
                "end_date": "2024-07-31",
                "date_interval": "this_month",
                "chart_type": "pie"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "updateCostReport"
      },
      "get": {
        "description": "Return a CostReport.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cost_report_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CostReport"
            },
            "examples": {
              "application/json": {
                "token": "rprt_de5b1b5a34003ad7",
                "title": "Untitled",
                "folder_token": null,
                "saved_filter_tokens": [
                  "svd_fltr_031079975ea717dd"
                ],
                "business_metric_tokens_with_metadata": [],
                "filter": null,
                "groupings": "provider,service",
                "settings": {
                  "include_credits": false,
                  "include_refunds": false,
                  "include_discounts": true,
                  "include_tax": true,
                  "amortize": true,
                  "unallocated": false
                },
                "created_at": "2024-07-15T20:43:10Z",
                "workspace_token": "wrkspc_bc6d936b734c8884",
                "previous_period_start_date": null,
                "previous_period_end_date": null,
                "start_date": "2024-07-01",
                "end_date": "2024-07-31",
                "date_interval": "this_month",
                "chart_type": "line"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "getCostReport"
      }
    },
    "/segments": {
      "post": {
        "description": "Create a Segment.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createSegment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSegment"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Segment"
            },
            "examples": {
              "application/json": {
                "token": "fltr_sgmt_a22e3e52e9a93a75",
                "title": "New Segment",
                "parent_segment_token": "fltr_sgmt_7f1af73e92e5e156",
                "description": "I'm a Segment.",
                "track_unallocated": false,
                "priority": 100,
                "filter": "costs.provider = 'aws' AND costs.service = 'Amazon Simple Storage Service'",
                "created_at": "2024-05-14T14:34:24Z",
                "workspace_token": "wrkspc_f75aec7671a72dd3",
                "report_token": null
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "operationId": "createSegment"
      },
      "get": {
        "description": "Return all Segments.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Segments"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/segments",
                  "first": "https://api.vantage.com/v2/segments?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/segments?page=1",
                  "prev": null
                },
                "segments": [
                  {
                    "token": "fltr_sgmt_79b0b8ef658d6bba",
                    "title": "neural-net",
                    "parent_segment_token": null,
                    "description": "Optimized encompassing algorithm",
                    "track_unallocated": false,
                    "report_settings": {
                      "include_credits": false,
                      "include_refunds": false,
                      "include_discounts": true,
                      "include_tax": true,
                      "amortize": true
                    },
                    "priority": 100,
                    "filter": "(costs.provider = 'aws')",
                    "created_at": "2024-05-14T14:34:22Z",
                    "workspace_token": "wrkspc_21f36c4ad272fb7b",
                    "report_token": "rprt_8dd4e1fe3b88c821"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "operationId": "getSegments"
      }
    },
    "/segments/{segment_token}": {
      "delete": {
        "description": "Delete a Segment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "segment_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Segment"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "operationId": "deleteSegment"
      },
      "put": {
        "description": "Update a Segment.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "segment_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateSegment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateSegment"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Segment"
            },
            "examples": {
              "application/json": {
                "token": "fltr_sgmt_1550eb291314035c",
                "title": "Updated Segment",
                "parent_segment_token": "fltr_sgmt_a39cf865967ed4d8",
                "description": "Total object-oriented productivity",
                "track_unallocated": false,
                "priority": 42,
                "filter": "costs.provider = 'azure'",
                "created_at": "2024-05-14T14:34:23Z",
                "workspace_token": "wrkspc_1be9d0445f94db0b",
                "report_token": "rprt_3e460438ae115013"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "operationId": "updateSegment"
      },
      "get": {
        "description": "Return a Segment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "segment_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Segment"
            },
            "examples": {
              "application/json": {
                "token": "fltr_sgmt_e528df30fe4c9da4",
                "title": "Function-based",
                "parent_segment_token": null,
                "description": "Total multi-tasking encoding",
                "track_unallocated": false,
                "report_settings": {
                  "include_credits": false,
                  "include_refunds": false,
                  "include_discounts": true,
                  "include_tax": true,
                  "amortize": true
                },
                "priority": 100,
                "filter": "(costs.provider = 'aws')",
                "created_at": "2024-05-14T14:34:18Z",
                "workspace_token": "wrkspc_eb7573db105407df",
                "report_token": "rprt_f7828113036f5fce"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Segments"
        ],
        "operationId": "getSegment"
      }
    },
    "/dashboards": {
      "post": {
        "description": "Create a Dashboard.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createDashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createDashboard"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "examples": {
              "application/json": {
                "token": "dshbrd_40d2a85e60872ee4",
                "title": "New Dashboard",
                "widget_tokens": [
                  "rprt_d1262358f4d2de03"
                ],
                "saved_filter_tokens": [
                  "svd_fltr_03bae07fb40ef1e0"
                ],
                "date_bin": "week",
                "date_interval": "this_month",
                "start_date": "2023-08-01",
                "end_date": "2023-08-31",
                "created_at": "2023-08-15T00:00:00Z",
                "updated_at": "2023-08-15T00:00:00Z",
                "workspace_token": "wrkspc_7c586d05929f60b4"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "operationId": "createDashboard"
      },
      "get": {
        "description": "Return all Dashboards.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dashboards"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/dashboards",
                  "first": "https://api.vantage.com/v2/dashboards?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/dashboards?page=1",
                  "prev": null
                },
                "dashboards": [
                  {
                    "token": "dshbrd_0e00316c1b6ccdf5",
                    "title": "O Jerusalem!",
                    "widget_tokens": [
                      "rprt_63e2ca172354d16a"
                    ],
                    "saved_filter_tokens": [
                      "svd_fltr_447e67636b3c789a"
                    ],
                    "date_bin": null,
                    "date_interval": null,
                    "start_date": null,
                    "end_date": null,
                    "created_at": "2024-03-04T18:49:33Z",
                    "updated_at": "2024-03-04T18:49:33Z",
                    "workspace_token": "wrkspc_d42986a4825b18c7"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "operationId": "getDashboards"
      }
    },
    "/dashboards/{dashboard_token}": {
      "delete": {
        "description": "Delete a Dashboard.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "operationId": "deleteDashboard"
      },
      "put": {
        "description": "Update a Dashboard.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateDashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateDashboard"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "examples": {
              "application/json": {
                "token": "dshbrd_43f0df22a2b28fc1",
                "title": "Updated Dashboard",
                "widget_tokens": [
                  "rprt_1f78a31ae74c183f"
                ],
                "saved_filter_tokens": [
                  "svd_fltr_c90a915a9b8c4128"
                ],
                "date_bin": "week",
                "date_interval": "this_month",
                "start_date": "2023-08-01",
                "end_date": "2023-08-31",
                "created_at": "2024-03-04T18:49:32Z",
                "updated_at": "2023-08-15T00:00:00Z",
                "workspace_token": "wrkspc_1f7d72cc9302b876"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "operationId": "updateDashboard"
      },
      "get": {
        "description": "Return a specific Dashboard.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/dashboards",
                  "first": "https://api.vantage.com/v2/dashboards?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/dashboards?page=1",
                  "prev": null
                },
                "dashboards": [
                  {
                    "token": "dshbrd_77736ea6e502a481",
                    "title": "The Road Less Traveled",
                    "widget_tokens": [
                      "rprt_7d955d7fbe334706"
                    ],
                    "saved_filter_tokens": [
                      "svd_fltr_cd8f90c99b33dfa6"
                    ],
                    "date_bin": null,
                    "date_interval": null,
                    "start_date": null,
                    "end_date": null,
                    "created_at": "2024-03-04T18:49:33Z",
                    "updated_at": "2024-03-04T18:49:33Z",
                    "workspace_token": "wrkspc_863089db412905d9"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "operationId": "getDashboard"
      }
    },
    "/costs": {
      "get": {
        "description": "Return all Costs for a CostReport.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cost_report_token",
            "description": "The CostReport token.",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "First date you would like to filter costs from. ISO 8601 formatted.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Last date you would like to filter costs to. ISO 8601 formatted.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "groupings",
            "description": "Group the results by specific field(s). Defaults to provider, service, account_id. Valid groupings: account_id, billing_account_id, charge_type, cost_category, cost_subcategory, provider, region, resource_id, service, tagged, tag:<tag_value>. If providing multiple groupings, join as comma separated values: groupings=provider,service,region",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "description": "Whether to order costs by date in an ascending or descending manner.",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "settings[include_credits]",
            "description": "Results will include credits.",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "query",
            "name": "settings[include_refunds]",
            "description": "Results will include refunds.",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "in": "query",
            "name": "settings[include_discounts]",
            "description": "Results will include discounts.",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "query",
            "name": "settings[include_tax]",
            "description": "Results will include tax.",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "query",
            "name": "settings[amortize]",
            "description": "Results will amortize.",
            "type": "boolean",
            "default": true,
            "required": false
          },
          {
            "in": "query",
            "name": "settings[unallocated]",
            "description": "Results will show unallocated costs.",
            "type": "boolean",
            "default": false,
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Costs"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677",
                  "first": "https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1",
                  "prev": null
                },
                "total_cost": {
                  "amount": "500.0",
                  "currency": "USD"
                },
                "costs": [
                  {
                    "accrued_at": "2023-06-05",
                    "amount": "100.0",
                    "currency": "USD",
                    "provider": "aws",
                    "account_id": "mock_56789",
                    "service": "AmazonSNS"
                  },
                  {
                    "accrued_at": "2023-06-04",
                    "amount": "100.0",
                    "currency": "USD",
                    "provider": "aws",
                    "account_id": "mock_56789",
                    "service": "AmazonSNS"
                  },
                  {
                    "accrued_at": "2023-06-03",
                    "amount": "100.0",
                    "currency": "USD",
                    "provider": "aws",
                    "account_id": "mock_56789",
                    "service": "AmazonSNS"
                  },
                  {
                    "accrued_at": "2023-06-02",
                    "amount": "100.0",
                    "currency": "USD",
                    "provider": "aws",
                    "account_id": "mock_56789",
                    "service": "AmazonSNS"
                  },
                  {
                    "accrued_at": "2023-06-01",
                    "amount": "100.0",
                    "currency": "USD",
                    "provider": "aws",
                    "account_id": "mock_56789",
                    "service": "AmazonSNS"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "402": {
            "description": "PaymentRequired",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "getCosts"
      }
    },
    "/teams": {
      "post": {
        "description": "Create a new Team.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createTeam",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createTeam"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Team"
            },
            "examples": {
              "application/json": {
                "token": "team_8467157535a30221",
                "name": "New Team",
                "description": "New Team Description",
                "workspace_tokens": [
                  "wrkspc_52b6e5e663b4cde1"
                ],
                "user_tokens": [
                  "usr_a00e614b5843c234"
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "createTeam"
      },
      "get": {
        "description": "Return all Teams that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Teams"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/teams",
                  "first": "https://api.vantage.com/v2/teams?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/teams?page=1",
                  "prev": null
                },
                "teams": [
                  {
                    "token": "team_2d4733920ec4385e",
                    "name": "New Mexico people",
                    "description": "Consequuntur ratione.",
                    "workspace_tokens": [
                      "wrkspc_08026aa5fb4c90f8"
                    ],
                    "user_tokens": [
                      "usr_c59398553e838116"
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "getTeams"
      }
    },
    "/teams/{team_token}": {
      "delete": {
        "description": "Delete a Team.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "team_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Team"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "deleteTeam"
      },
      "put": {
        "description": "Update a Team.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "team_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateTeam",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateTeam"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Team"
            },
            "examples": {
              "application/json": {
                "token": "team_d617e73dcc6b57c5",
                "name": "Updated Team",
                "description": "Updated Team Description",
                "workspace_tokens": [
                  "wrkspc_efc4284a56772481"
                ],
                "user_tokens": [
                  "usr_d268561e520c7aac"
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "updateTeam"
      },
      "get": {
        "description": "Return a specific Team.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "team_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Team"
            },
            "examples": {
              "application/json": {
                "token": "team_081e09bbb812d369",
                "name": "Missouri cats",
                "description": "Voluptas et.",
                "workspace_tokens": [
                  "wrkspc_ddc003a2f0171bf8"
                ],
                "user_tokens": [
                  "usr_7c309915e847cfc6"
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam"
      }
    },
    "/access_grants": {
      "post": {
        "description": "Create an Access Grant.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createAccessGrant",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createAccessGrant"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            },
            "examples": {
              "application/json": {
                "token": "rsrc_accss_grnt_9f8aeb3cedda3831",
                "resource_token": "rprt_3b935d26cba36fb0",
                "access": "denied",
                "team_token": "team_26865e16e46028ae",
                "created_at": "2024-01-18T17:39:37Z",
                "created_by": "usr_2fc38883da3726b9"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "406": {
            "description": "NotAcceptable",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "createAccessGrant"
      },
      "get": {
        "description": "Return all Access Grants that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrants"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/access_grants",
                  "first": "https://api.vantage.com/v2/access_grants?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/access_grants?page=1",
                  "prev": null
                },
                "access_grants": [
                  {
                    "token": "rsrc_accss_grnt_c40f15062b6d5c37",
                    "resource_token": "rprt_5a269d316483b01c",
                    "access": "denied",
                    "team_token": "team_fd5c524ba104712b",
                    "created_at": "2024-01-18T17:39:37Z",
                    "created_by": "usr_eb8ce6bdc1fa31d5"
                  },
                  {
                    "token": "rsrc_accss_grnt_9723e984e93d8907",
                    "resource_token": "dshbrd_a08561ec24875ac9",
                    "access": "allowed",
                    "team_token": "team_fd5c524ba104712b",
                    "created_at": "2024-01-18T17:39:37Z",
                    "created_by": "usr_eb8ce6bdc1fa31d5"
                  },
                  {
                    "token": "rsrc_accss_grnt_eee5c4fd777d4dc8",
                    "resource_token": "fldr_9d4ad1a769131c58",
                    "access": "allowed",
                    "team_token": "team_fd5c524ba104712b",
                    "created_at": "2024-01-18T17:39:38Z",
                    "created_by": "usr_eb8ce6bdc1fa31d5"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "getAccessGrants"
      }
    },
    "/access_grants/{access_grant_token}": {
      "delete": {
        "description": "Delete an Access Grant.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "access_grant_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "deleteAccessGrant"
      },
      "put": {
        "description": "Update an AccessGrant.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "access_grant_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateAccessGrant",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateAccessGrant"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            },
            "examples": {
              "application/json": {
                "token": "rsrc_accss_grnt_eea11f0d35318b0d",
                "resource_token": "rprt_e84d7760ab2dd7dc",
                "access": "allowed",
                "team_token": "team_25fc4aa890869602",
                "created_at": "2024-01-18T17:39:36Z",
                "created_by": "usr_57ed2fa2a7b30166"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "updateAccessGrant"
      },
      "get": {
        "description": "Return a specific Access Grant.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "access_grant_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccessGrant"
            },
            "examples": {
              "application/json": {
                "token": "rsrc_accss_grnt_07ed83a5069b91c4",
                "resource_token": "rprt_b8df14aa8a4ad5c7",
                "access": "denied",
                "team_token": "team_14bd13a8bccb8406",
                "created_at": "2024-01-18T17:39:36Z",
                "created_by": "usr_0e1cb254743b26cb"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "AccessGrants"
        ],
        "operationId": "getAccessGrant"
      }
    },
    "/report_notifications": {
      "post": {
        "description": "Create a ReportNotification.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createReportNotification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createReportNotification"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReportNotification"
            },
            "examples": {
              "application/json": {
                "token": "rprt_ntfctn_8ce31b43a149cd2e",
                "title": "New Report Notification",
                "cost_report_token": "rprt_933010600676b02f",
                "user_tokens": [
                  "usr_45e7d17e9f402226"
                ],
                "frequency": "daily",
                "change": "percentage"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "ReportNotifications"
        ],
        "operationId": "createReportNotification"
      },
      "get": {
        "description": "Return all ReportNotifications.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReportNotifications"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/report_notifications",
                  "first": "https://api.vantage.com/v2/report_notifications?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/report_notifications?page=1",
                  "prev": null
                },
                "report_notifications": [
                  {
                    "token": "rprt_ntfctn_7c09ca27d07d8d1e",
                    "title": "Test Notification",
                    "cost_report_token": "rprt_ba0a5a5201390d72",
                    "user_tokens": [
                      "usr_27edb13f3beac3cb"
                    ],
                    "frequency": "weekly",
                    "change": "percentage"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "ReportNotifications"
        ],
        "operationId": "getReportNotifications"
      }
    },
    "/report_notifications/{report_notification_token}": {
      "delete": {
        "description": "Delete a ReportNotification.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_notification_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReportNotification"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "ReportNotifications"
        ],
        "operationId": "deleteReportNotification"
      },
      "put": {
        "description": "Update a ReportNotification.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_notification_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateReportNotification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateReportNotification"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReportNotification"
            },
            "examples": {
              "application/json": {
                "token": "rprt_ntfctn_b36b208a90ee87f6",
                "title": "Updated Report Notification",
                "cost_report_token": "rprt_07b88c04aa6bed8c",
                "user_tokens": [
                  "usr_35ed19fadcfed8c9"
                ],
                "frequency": "weekly",
                "change": "dollars"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "ReportNotifications"
        ],
        "operationId": "updateReportNotification"
      },
      "get": {
        "description": "Return a ReportNotification.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_notification_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ReportNotification"
            },
            "examples": {
              "application/json": {
                "token": "rprt_ntfctn_21b4287a212406b1",
                "title": "Test Notification",
                "cost_report_token": "rprt_d084c84455edc606",
                "user_tokens": [
                  "usr_56d53f802edba3e6"
                ],
                "frequency": "weekly",
                "change": "percentage"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "ReportNotifications"
        ],
        "operationId": "getReportNotification"
      }
    },
    "/users": {
      "get": {
        "description": "Return all Users that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Users"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.com/v2/users",
                  "first": "https://api.vantage.com/v2/users?page=1",
                  "next": null,
                  "last": "https://api.vantage.com/v2/users?page=1",
                  "prev": null
                },
                "users": [
                  {
                    "token": "usr_3f30f56e7773e72b",
                    "name": "Pres. Sudie Kuvalis",
                    "email": "kuvalis.sudie.pres@mckenzie-herman.net",
                    "role": "Owner"
                  },
                  {
                    "token": "usr_dc69dfedf704d4ea",
                    "name": "Carisa Tromp",
                    "email": "carisa.tromp@morissette.co",
                    "role": "Viewer"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "getUsers"
      }
    },
    "/users/{user_token}": {
      "get": {
        "description": "Return a specific User.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "examples": {
              "application/json": {
                "token": "usr_92c7273af4de2fb4",
                "name": "Miss Shirlene Weissnat",
                "email": "miss.shirlene.weissnat@west-howe.net",
                "role": "Owner"
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "getUser"
      }
    },
    "/business_metrics": {
      "post": {
        "description": "Create a new BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "createBusinessMetric",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createBusinessMetric"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_553dd522c66cb1aa",
                "title": "New Biz Metric",
                "created_by_token": "usr_16adb5609ee89b8e",
                "cost_report_tokens_with_metadata": [
                  {
                    "cost_report_token": "rprt_6633ef89c4c8c87e",
                    "unit_scale": "per_thousand",
                    "label_filter": [
                      "CBGB",
                      "Roxy",
                      "Studio 54",
                      ""
                    ]
                  }
                ],
                "values": [
                  {
                    "date": "2024-01-03T00:00:00Z",
                    "amount": "300.0",
                    "label": "Cost Center 3"
                  },
                  {
                    "date": "2024-01-02T00:00:00Z",
                    "amount": "200.0",
                    "label": "Cost Center 2"
                  },
                  {
                    "date": "2024-01-01T00:00:00Z",
                    "amount": "100.0",
                    "label": "Cost Center 1"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "createBusinessMetric"
      },
      "get": {
        "description": "Return all BusinessMetrics that the current API token has access to.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetrics"
            },
            "examples": {
              "application/json": {
                "business_metrics": [
                  {
                    "token": "bsnss_mtrc_11d005e278be649c",
                    "title": "Biz Metric",
                    "created_by_token": "usr_bce141144bee90d6",
                    "cost_report_tokens_with_metadata": [],
                    "values": []
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "getBusinessMetrics"
      }
    },
    "/business_metrics/{business_metric_token}": {
      "delete": {
        "description": "Deletes an existing BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "deleteBusinessMetric"
      },
      "put": {
        "description": "Updates an existing BusinessMetric.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          },
          {
            "name": "updateBusinessMetric",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateBusinessMetric"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_a7f01adf0feb24a6",
                "title": "New Title",
                "created_by_token": "usr_0ce8d894fa21de5b",
                "cost_report_tokens_with_metadata": [
                  {
                    "cost_report_token": "rprt_3e844c470bb76b93",
                    "unit_scale": "per_thousand",
                    "label_filter": [
                      "CBGB",
                      "Roxy",
                      "Studio 54",
                      ""
                    ]
                  }
                ],
                "values": [
                  {
                    "date": "2024-01-03T00:00:00Z",
                    "amount": "600.0"
                  },
                  {
                    "date": "2024-01-02T00:00:00Z",
                    "amount": "500.0"
                  },
                  {
                    "date": "2024-01-01T00:00:00Z",
                    "amount": "400.0"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "updateBusinessMetric"
      },
      "get": {
        "description": "Return a specific BusinessMetrics.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_40f153ce6c3ca185",
                "title": "Biz Metric",
                "created_by_token": "usr_d0f62560360b1481",
                "cost_report_tokens_with_metadata": [],
                "values": []
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "BusinessMetrics"
        ],
        "operationId": "getBusinessMetric"
      }
    },
    "/business_metrics/{business_metric_token}/values.csv": {
      "put": {
        "description": "Updates the values for an existing BusinessMetric from a CSV file.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "csv",
            "description": "CSV file containing BusinessMetric dates and amounts",
            "type": "file",
            "required": true
          },
          {
            "in": "path",
            "name": "business_metric_token",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BusinessMetric"
            },
            "examples": {
              "application/json": {
                "token": "bsnss_mtrc_5bb17b18e416648d",
                "title": "Biz Metric",
                "created_by_token": "usr_e2ac901c508a8174",
                "cost_report_tokens_with_metadata": [],
                "values": [
                  {
                    "date": "2024-01-03T00:00:00Z",
                    "amount": "300.3",
                    "label": "Cost Center 3"
                  },
                  {
                    "date": "2024-01-02T00:00:00Z",
                    "amount": "200.2",
                    "label": "Cost Center 2"
                  },
                  {
                    "date": "2024-01-01T00:00:00Z",
                    "amount": "100.1",
                    "label": "Cost Center 1"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
[...]
