{
  "info": {
    "title": "Vantage",
    "description": "Vantage API",
    "termsOfService": "https://www.vantage.sh/terms-of-use",
    "contact": {
      "name": "Vantage Support",
      "email": "support@vantage.sh",
      "url": "https://www.vantage.sh"
    },
    "version": "1.0.0"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "scopes": {
        "read": "Grants read access",
        "write": "Grants write access"
      },
      "tokenUrl": "https://console.vantage.sh/account/profile"
    }
  },
  "security": [
    {
      "oauth2": [
        "read"
      ]
    }
  ],
  "host": "api.vantage.sh",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Prices",
      "description": "Operations about Prices"
    },
    {
      "name": "Costs",
      "description": "Operations about Costs"
    },
    {
      "name": "Integrations",
      "description": "Operations about Integrations"
    },
    {
      "name": "Ping",
      "description": "Operations about Pings"
    }
  ],
  "paths": {
    "/providers": {
      "get": {
        "description": "Providers are cloud infrastructure and service providers from which all cloud prices are derived. You can think of example Providers as being AWS, GCP, Cloudflare or Datadog. Currently, Vantage only supports a single provider of AWS but over time more will be added. Use this endpoint to retrieve a provider id for other API calls.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Providers"
            },
            "examples": {
              "application/json": {
                "providers": [
                  {
                    "id": "aws",
                    "name": "AWS",
                    "description": "Amazon Web Services"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Prices"
        ],
        "operationId": "getProviders"
      }
    },
    "/services": {
      "get": {
        "description": "Return all Services. Examples of Services are EC2 for AWS. This endpoint will return all Services by default but you have the ability to filter Services by Provider using the optional query parameter documented below.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "provider_id",
            "description": "Query services for a specific provider. e.g. aws",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Services"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v1/services",
                  "first": "https://api.vantage.sh/v1/services?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v1/services?page=1",
                  "prev": null
                },
                "services": [
                  {
                    "id": "aws-ec2",
                    "category": "compute",
                    "name": "EC2",
                    "description": "Elastic Compute Cloud"
                  },
                  {
                    "id": "aws-s3",
                    "category": "object_storage",
                    "name": "S3",
                    "description": "Simple Storage Service"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Prices"
        ],
        "operationId": "getServices"
      }
    },
    "/products": {
      "get": {
        "description": "Return available Products for a Service. For example, with a Provider of AWS and a Service of EC2, Products will be a list of all EC2 Instances. By default, this endpoint returns all Products across all Services and Providers but has optional query parameters for filtering listed below.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "provider_id",
            "description": "Query by Provider to list all Products across all Services for a Provider. e.g. aws",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "service_id",
            "description": "Query by Service to list all Products for a specific provider service. e.g. aws-ec2",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "description": "Query by name of the Product to see a list of products which match that name. e.g. m5a.16xlarge",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Products"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v1/products",
                  "first": "https://api.vantage.sh/v1/products?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v1/products?page=1",
                  "prev": null
                },
                "products": [
                  {
                    "id": "aws-ec2-m5d_16xlarge",
                    "category": "compute",
                    "name": "m5d.16xlarge",
                    "service_id": "aws-ec2",
                    "provider_id": "aws",
                    "details": {
                      "gpu": 0,
                      "name": "M5 General Purpose 16xlarge",
                      "vcpu": 64,
                      "memory": 256,
                      "clock_speed_ghz": 3.1,
                      "physical_processor_description": "Intel Xeon Platinum 8175 (Skylake)",
                      "network_performance_description": "20 Gigabit"
                    }
                  },
                  {
                    "id": "aws-ec2-c5a_8xlarge",
                    "category": "compute",
                    "name": "c5a.8xlarge",
                    "service_id": "aws-ec2",
                    "provider_id": "aws",
                    "details": {
                      "gpu": 0,
                      "name": "C5A 8xlarge",
                      "vcpu": 64,
                      "memory": 256
                    }
                  },
                  {
                    "id": "aws-ec2-c5a_4large",
                    "category": "compute",
                    "name": "c5a.4large",
                    "service_id": "aws-ec2",
                    "provider_id": "aws",
                    "details": {
                      "gpu": 0,
                      "name": "C5A 4large",
                      "vcpu": 64,
                      "memory": 4
                    }
                  },
                  {
                    "id": "aws-s3-standard",
                    "category": "object_storage",
                    "name": "standard",
                    "service_id": "aws-s3",
                    "provider_id": "aws",
                    "details": {}
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Prices"
        ],
        "operationId": "getProducts"
      }
    },
    "/products/{id}": {
      "get": {
        "description": "Return a product",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Product"
            },
            "examples": {
              "application/json": {
                "id": "aws-ec2-m5d_16xlarge",
                "category": "compute",
                "name": "m5d.16xlarge",
                "service_id": "aws-ec2",
                "provider_id": "aws",
                "details": {
                  "gpu": 0,
                  "name": "M5 General Purpose 16xlarge",
                  "vcpu": 64,
                  "memory": 256,
                  "clock_speed_ghz": 3.1,
                  "physical_processor_description": "Intel Xeon Platinum 8175 (Skylake)",
                  "network_performance_description": "20 Gigabit"
                }
              }
            }
          }
        },
        "tags": [
          "Prices"
        ],
        "operationId": "getProduct"
      }
    },
    "/products/{product_id}/prices": {
      "get": {
        "description": "Return available Prices across all Regions for a Product.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "product_id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Prices"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v1/products/aws-ec2-m5d_16xlarge/prices",
                  "first": "https://api.vantage.sh/v1/products/aws-ec2-m5d_16xlarge/prices?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v1/products/aws-ec2-m5d_16xlarge/prices?page=1",
                  "prev": null
                },
                "prices": [
                  {
                    "id": "aws-ec2-m5d_16xlarge-eu_central_1-on_demand-linux_enterprise",
                    "unit": "hour",
                    "region": "eu-central-1",
                    "rate_type": "compute",
                    "currency": "USD",
                    "amount": 27.328,
                    "details": {
                      "platform": "linux-enterprise",
                      "lifecycle": "on-demand"
                    }
                  },
                  {
                    "id": "aws-ec2-m5d_16xlarge-us_east_1-on_demand-linux_enterprise",
                    "unit": "hour",
                    "region": "us-east-1",
                    "rate_type": "compute",
                    "currency": "USD",
                    "amount": 3.616,
                    "details": {
                      "platform": "linux-enterprise",
                      "lifecycle": "on-demand"
                    }
                  },
                  {
                    "id": "aws-ec2-m5d_16xlarge-us_east_1-on_demand-rhel",
                    "unit": "hour",
                    "region": "us-east-1",
                    "rate_type": "compute",
                    "currency": "USD",
                    "amount": 3.746,
                    "details": {
                      "platform": "rhel",
                      "lifecycle": "on-demand"
                    }
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Prices"
        ],
        "operationId": "getPrices"
      }
    },
    "/products/{product_id}/prices/{id}": {
      "get": {
        "description": "Returns a price",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "product_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Price"
            },
            "examples": {
              "application/json": {
                "id": "aws-ec2-m5d_16xlarge-eu_central_1-on_demand-linux_enterprise",
                "unit": "hour",
                "region": "eu-central-1",
                "rate_type": "compute",
                "currency": "USD",
                "amount": 27.328,
                "details": {
                  "platform": "linux-enterprise",
                  "lifecycle": "on-demand"
                }
              }
            }
          }
        },
        "tags": [
          "Prices"
        ],
        "operationId": "getPrice"
      }
    },
    "/reports": {
      "get": {
        "description": "Return all Cost Reports.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Reports"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "https://api.vantage.sh/v1/reports",
                  "first": "https://api.vantage.sh/v1/reports?page=1",
                  "next": null,
                  "last": "https://api.vantage.sh/v1/reports?page=1",
                  "prev": null
                },
                "reports": [
                  {
                    "id": 1017786019,
                    "title": "All Resources",
                    "earliest_cost_date": "2021-04-01T00:00:00Z",
                    "latest_cost_date": "2021-06-02",
                    "created_at": "2021-07-26T14:49:09Z",
                    "workspace": "Default"
                  },
                  {
                    "id": 631471899,
                    "title": "Production",
                    "earliest_cost_date": "2021-05-01T00:00:00Z",
                    "latest_cost_date": "2021-05-03",
                    "created_at": "2021-07-26T14:49:09Z",
                    "workspace": "Default"
                  },
                  {
                    "id": 312758158,
                    "title": "All Resources",
                    "earliest_cost_date": "2021-01-01",
                    "latest_cost_date": "2021-07-24",
                    "created_at": "2021-07-26T14:49:09Z",
                    "workspace": "Default"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "getReports"
      }
    },
    "/reports/{report_id}": {
      "get": {
        "description": "Return a Cost Report.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "type": "string",
            "required": true
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Report"
            },
            "examples": {
              "application/json": {
                "id": 1017786019,
                "title": "All Resources",
                "earliest_cost_date": "2021-04-01T00:00:00Z",
                "latest_cost_date": "2021-06-02",
                "created_at": "2021-07-26T14:49:09Z",
                "workspace": "Default"
              }
            }
          }
        },
        "tags": [
          "Costs"
        ],
        "operationId": "getReport"
      }
    },
    "/reports/{report_id}/costs": {
      "get": {
        "description": "Return available Costs for the specified Cost Report and optional time period. If no time period is specified it will return all available costs for the report.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Query costs by the first date you would like to filter from. ISO 8601 Formatted - 2021-07-15 or 2021-07-15T19:20:48+00:00.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Query costs by the last date you would like to filter to. ISO 8601 Formatted - 2021-07-15 or 2021-07-15T19:20:48+00:00.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page of results to return.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The amount of results to return. The maximum is 1000",
            "type": "integer",
            "format": "int32",
            "default": 1000,
            "required": false
          },
          {
            "in": "query",
            "name": "grouping",
            "description": "Group the results by specific field(s). Valid groupings: account_id, billing_account_id, charge_type, cost_category, cost_sub_category, provider, service, tag:<tag_value>, region, folder_id, resource_id. If providing multiple groupings, be sure to use the following syntax: grouping[]=provider&grouping[]=service&grouping[]=account_id",
            "type": "string",
            "required": false
          }
        ],
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Costs"
            },
            "examples": {
              "application/json": {
                "links": {
                  "self": "http://api.acme.computer:3000/v1/reports/1/costs",
                  "first": "http://api.acme.computer:3000/v1/reports/1/costs?page=1",
                  "next": "http://api.acme.computer:3000/v1/reports/1/costs?page=2",
                  "last": "http://api.acme.computer:3000/v1/reports/1/costs?page=588",
                  "prev": null
                },
                "total": "40826.6312672572",
                "currency": "USD",
                "costs": [
                  {
                    "accrued_at": "2022-12-01",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-01",
                    "amount": "0.8364909999",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-01",
                    "amount": "0.032178",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-01",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-01",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-01",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-02",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-02",
                    "amount": "0.836336",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-02",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-02",
                    "amount": "0.032227",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-03",
                    "amount": "0.8363389998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-03",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-03",
                    "amount": "0.032213",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-03",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-04",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-04",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-04",
                    "amount": "0.032211",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-04",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-04",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-04",
                    "amount": "0.8363549998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-05",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-05",
                    "amount": "0.83636",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-05",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-05",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-05",
                    "amount": "0.032251",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-05",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-06",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-06",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-06",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-06",
                    "amount": "0.8363699998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-06",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-06",
                    "amount": "0.032196",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-07",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-07",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-07",
                    "amount": "0.8363619996",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-07",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-07",
                    "amount": "0.03225",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-07",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-08",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-08",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-08",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-08",
                    "amount": "0.0322279999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-08",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-08",
                    "amount": "0.836394",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-09",
                    "amount": "0.0322169999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-09",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-09",
                    "amount": "0.83639",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-09",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-09",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-09",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-10",
                    "amount": "0.0322699999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-10",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-10",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-10",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-10",
                    "amount": "0.8363449999",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-10",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.8363719998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0321909999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.054302634",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.1246333689",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-11",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.032248",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.0526256805",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-12",
                    "amount": "0.836579",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0525810705",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0321989999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.105",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.8363699999",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-13",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.115",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0526209109",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.852383",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.048275",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-14",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.9323379998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.052807394",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.1282429999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-15",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.052588412",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.932398",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.1282280001",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-16",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0525141554",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.932421",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.128207",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-17",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.9324289999",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0524337264",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-18",
                    "amount": "0.128193",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0524153961",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.1281810001",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.9323579997",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-19",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.1282210001",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.932367",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-20",
                    "amount": "0.0525088714",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.9323709999",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.1281669999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0524983502",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-21",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.1282950001",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0525065334",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-22",
                    "amount": "0.932328",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.932366",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0525445501",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.12818",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-23",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0525296333",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.128212",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-24",
                    "amount": "0.932395",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0524981631",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.1282089999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.932384",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-25",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.1281750001",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.932418",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-26",
                    "amount": "0.0525666681",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.9324209998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.1282679999",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0525937427",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-27",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.128221",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0525639559",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.9323709999",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-28",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.12",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Network"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0526083789",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Storage"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.9323169998",
                    "provider": "gcp",
                    "provider_account_id": "acme-test-308619",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "BigQuery"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.124516129",
                    "provider": "azure",
                    "provider_account_id": "analyzer_group",
                    "service": "Virtual Machines"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.128191",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Compute Engine"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "azure",
                    "provider_account_id": "networkwatcherrg",
                    "service": "Bandwidth"
                  },
                  {
                    "accrued_at": "2022-12-29",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Networking"
                  },
                  {
                    "accrued_at": "2022-12-30",
                    "amount": "0.0",
                    "provider": "gcp",
                    "provider_account_id": "user-proj-test12345",
                    "service": "Cloud Logging"
                  },
                  {
[...]
